extends layout

block content
  h2 ride #{ride.name} on #{ride.date}
  h3 #{ride.pace} w/kg for #{ride.distance}km
  h4 Meeting at #{ride.location}


  p #{ride.attendees.length} people are attending:

  ul
    each attendee in ride.attendees
      li= attendee.name
