extends layout

block content
  h2 ride #{ride.name}

  h3 at #{ride.location} on #{ride.date}

  p #{ride.attendees.length} people are attending:

  ul
    each attendee in ride.attendees
      li= attendee.name
